[submodule "pro/todolist_w_mutex_db"]
	path = pro/todolist_w_mutex_db
	url = https://github.com/abhi3700/rust_apps_todo.git
[submodule "pro/zomato"]
	path = pro/zomato
	url = https://github.com/abhi3700/zomato_rust.git
[submodule "libs/rust-react-wasm"]
	path = libs/rust-react-wasm
	url = https://github.com/abhi3700/rust-react-wasm-tutorial.git
